Repository UnBArqDsw2024-2/2024.2_G5_Turismo_Entrega_03, pull requests merged in 2025-01, with the labels that each got.

#15 Factory-Method Pt. 2
  docs/PadroesDeProjeto/assets/criacionais/factory_method/Estrutura.png
  docs/PadroesDeProjeto/criacionais/3.1.1.Factory-Method.md
Labels: Gofs Criacionais

#13 Factory method
  docs/PadroesDeProjeto/assets/criacionais/factory_method/Estrutura.png
  docs/PadroesDeProjeto/assets/criacionais/factory_method/Factory-Method-Comment.svg
  docs/PadroesDeProjeto/assets/criacionais/factory_method/Factory-Method-User.svg
  docs/PadroesDeProjeto/criacionais/3.1.1.Factory-Method.md
  docs/README.md
  docs/_sidebar.md
  docs/assets/logo/logo-horizontal.svg
  docs/index.html
Labels: Gofs Criacionais

#27 Abstract-factory
  docs/PadroesDeProjeto/assets/criacionais/abstract_factory/abstrac-factory-diagram.svg
  docs/PadroesDeProjeto/assets/criacionais/abstract_factory/abstract-factory.svg
  docs/PadroesDeProjeto/criacionais/3.1.2.Abstract-Factory.md
  docs/_sidebar.md
Labels: Gofs Criacionais

#56 Template Method
  docs/PadroesDeProjeto/assets/comportamentais/templateMethod/Template-Method.svg
  docs/PadroesDeProjeto/comportamentais/3.3.7.TemplateMethod.md
Labels: Gofs Comportamentais

#28 Padrão estrutural Composite
  docs/PadroesDeProjeto/assets/padrão_estrutural_composite.svg
  docs/PadroesDeProjeto/estruturais/3.2.3.Composite.md
  docs/_sidebar.md
Labels: Gofs Estruturais

#45 Padrão comportamental Strategy
  docs/PadroesDeProjeto/assets/comportamentais/strategy/diagrama_padrao_comportamental_strategy.svg
  docs/PadroesDeProjeto/comportamentais/3.3.1.Strategy.md
  docs/_sidebar.md
Labels: Gofs Comportamentais

#42 Prototype
  docs/PadroesDeProjeto/Criacionais/3.1.4Prototype.md
  docs/PadroesDeProjeto/Criacionais/assents/Prototype.svg
Labels: Gofs Criacionais

#58 Factory method
  .github/TEMPLATE_DOC.md
  docs/PadroesDeProjeto/assets/criacionais/factory_method/Factory-Method-Comment.svg
  docs/PadroesDeProjeto/assets/criacionais/factory_method/Factory-Method-User.svg
  docs/PadroesDeProjeto/criacionais/3.1.1.Factory-Method.md
  docs/index.html
Labels: Gofs Criacionais

#63 iterator
  docs/PadroesDeProjeto/assets/comportamentais/iterator/figura1.png
  docs/PadroesDeProjeto/assets/comportamentais/iterator/figura2.png
  docs/PadroesDeProjeto/assets/comportamentais/iterator/figura3.png
  docs/PadroesDeProjeto/comportamentais/3.3.2.Iterator.md
  docs/_sidebar.md
Labels: Gofs Comportamentais

#46 Artefato Bridge
  docs/PadroesDeProjeto/assets/estruturais/diagramaBridge.png
  docs/PadroesDeProjeto/estruturais/3.2.2.Bridge.md
  docs/_sidebar.md
Labels: Gofs Estruturais

#47 #11: Confeccção do documento de multiton
  docs/PadroesDeProjeto/3.1.6.Multiton.md
  docs/PadroesDeProjeto/assets/multiton.svg
Labels: Gofs Criacionais

#48 #20 Criando o documento do decorator e adicionando imagem
  docs/PadroesDeProjeto/3.2.4.Decorator.md
  docs/PadroesDeProjeto/assets/criacionais/Decorator.svg
Labels: Gofs Estruturais

#49 Observer
  docs/PadroesDeProjeto/assets/criacionais/DiagramaObserver.svg
  docs/PadroesDeProjeto/comportamentais/3.3.4.Observer.md
Labels: Gofs Comportamentais

#50 Documentacao artefato de Proxy #[23]
  docs/PadroesDeProjeto/Estruturais/3.2.7.Proxy.md
Labels: Gofs Estruturais

#51 Artefato Generalista Foco - 02
  docs/PadroesDeProjeto/3.2.GoFsEstruturais.md
  docs/PadroesDeProjeto/3.5.IniciativasExtras.md
  docs/PadroesDeProjeto/comportamentais/3.3.4.State.md
  docs/PadroesDeProjeto/comportamentais/3.3.6.Strategy.md
  docs/PadroesDeProjeto/comportamentais/3.3.7.TemplateMethod.md
  docs/PadroesDeProjeto/estruturais/3.2.1.Adapter.md
  docs/_sidebar.md
Labels: Gofs Estruturais

#52 Quadro de Participação
  docs/PadroesDeProjeto/3.4.ParticipacoesPadroes.md
Labels: documentation, Gofs Criacionais, Gofs Estruturais, Gofs Comportamentais

#68 documentar foco 1, 3 e Padrões
  docs/PadroesDeProjeto/3.1.GoFsCriacionais.md
  docs/PadroesDeProjeto/3.3.GoFsComportamentais.md
  docs/PadroesDeProjeto/3.PadroesDeProjeto.md
Labels: documentation

#70 Implementações Composite - Backend
  package-lock.json
  package.json
  src/event/composite/event-component.interface.ts
  src/event/composite/event-group.ts
  src/event/composite/event.ts
  src/event/event.controller.ts
  src/event/event.service.ts
Labels: enhancement, Gofs Estruturais

#71 Atualizando codigos event composite
  docs/PadroesDeProjeto/estruturais/3.2.3.Composite.md
Labels: documentation, Gofs Estruturais
